{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}    
    <title>MindTranquil</title>
    
</head>

<body id="mainbody" class="bg-lightblue dark:bg-darkblack">
    <!-- create nav bar -->
    {% include 'webapp/topnavbar.html' %}
    
    <div class ="container flex ">
        
        <div class="fixed">
            {% include 'webapp/sidenavbar.html' %}
        </div>
        <main class="pl-5 pr-5 pt-16 container flex flex-col">
            {% block content %}

            {% endblock %}
        </main>
    </div>
   
    <script src="{% static 'webapp/js/script.js' %}"></script>
</body>
</html>