{% extends "webapp/base.html" %}
{% load static %}

{% block content %}
<body>
<div class="container flex flex-col items-center">

    <h1 class="heading">Personalized Breathing</h1>
    <br>


    <form action="{% url 'webapp:play_music' %}" method="post">
        {% csrf_token %}
        <div class="flex ml-5">
            <h2 class="mytext">SELECT TIME</h2>
            <input type="time" id="time" name="time" value="00:00" class="border-2 border-gray-300 dark:border-black dark:bg-lightgrey p-2 rounded-lg">
            <h2 class="mytext pl-1">Hr:Min</h2>
        </div>
        <br>
        <div class="flex flex-row">
            <h1 class="mytext pl-7 pr-16">SOUND</h1>
        
            <button type="button" class="btn h-12" onclick="musicDialog.showModal()">Select</button>
            <span class="px-2"></span>
            <button class="h-12 w-12" disabled>
                <img id="selectedMusic" class="h-8 w-8" src="{% static 'webapp/icons/s0.png' %}">
            </button>

            <dialog id="musicDialog" class="modal modal-bottom sm:modal-middle rounded">
                <div class="modal-box">

                    <div>
                        <h3 class="font-bold text-lg">Select sound</h3>
                    </div>

                    <div class="flow-root w-80 pt-5">


                        <ul id="musicList" role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                            <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                        <img class="w-7 h-7 rounded-full" src="{% static 'webapp/icons/s0.png' %}" alt="No sound">
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            Silent
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                        <button type="button" class="btn playButton" data-song="{% static 'webapp/audio/b0.mp3' %}">Play</button>
                                    </div>
                                </div>
                            </li>

                            <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                        <img class="w-8 h-8 rounded-full" src="{% static 'webapp/icons/s1.png' %}" alt="sound">
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            Music 1
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                        <button type="button" class="btn playButton" data-song="{% static 'webapp/audio/b1.mp3' %}">Play</button>
                                    </div>
                                </div>
                            </li>

                            <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                        <img class="w-8 h-8 rounded-full" src="{% static 'webapp/icons/s2.png' %}" alt="sound">
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            Music 2
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                        <button type="button" class="btn playButton" data-song="{% static 'webapp/audio/b2.mp3' %}">Play</button>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="flex place-content-end pt-2">
                    
                        <!-- if there is a button in form, it will close the modal -->
                        <button id="cancelButton" class="btn" type="button" onclick="musicDialog.close()">Close</button>
                    
                        <div class="pl-2">
                            <button id="setButton" type="button" class="btn pl-2 bg-darkblue hover:bg-darkblue dark:bg-darkblue dark:hover:bg-darkblue hover:scale-105 transition duration-150 ease-in-out">Set</button>
                        </div>
                    </div>

                </div>
            </dialog>

        </div>
        <br>
        <input type="hidden" id="music" name="myMusic" value="">
        <button id="submitButton" class="h-16 w-48 rounded-md bg-darkblue text-white hover:scale-105 transition duration-150 ease-in-out">Start Session</button>
    </form>


</div>
</body>
<script>

    let currentAudio = new Audio("{% static 'webapp/audio/s0.mp3' %}");
    let selectedSong = currentAudio;
    document.getElementById('music').value = "{% static 'webapp/audio/s0.mp3' %}";

    // Get the play buttons and add event listeners
    const playButtons = document.querySelectorAll('.playButton');
    playButtons.forEach(button => {
        button.addEventListener('click', () => {
            const song = button.getAttribute('data-song');
            const audio = new Audio(song);
            
            if(currentAudio){
                currentAudio.pause();
                currentAudio.currentTime = 0;
            }

            audio.play();
            audio.loop = true;
            currentAudio = audio;
        });
    });

    // Get the 'cancelButton' element
    const cancelButton = document.getElementById('cancelButton');

    // Add a click event listener to the 'cancelButton'
    cancelButton.addEventListener('click', () => {
        // If there's a currently playing audio, stop it
        if (currentAudio) {
            currentAudio.pause();
            currentAudio.currentTime = 0;
        }
        currentAudio = selectedSong;
    });


    // Get the set button and add event listener
    const setButton = document.getElementById('setButton');

    setButton.addEventListener('click', () => {
        selectedSong = currentAudio; // Get the selected song data
        const selectedMusic = document.getElementById('selectedMusic'); // Get the selected music icon
        document.getElementById('music').value = selectedSong.currentSrc; // Set the selected song to the hidden input
        let s = selectedSong.currentSrc.slice(-6, -4);
        let imagesource = "{% static 'webapp/icons/' %}" + s +".png";
        selectedMusic.src = imagesource; // Set the selected music icon to the selected song
        console.log(s+ " music selected");
        currentAudio.pause();
        currentAudio.currentTime = 0;
        musicDialog.close();
    });

    document.getElementById('submitButton').addEventListener('click', function(event) {
        var time = document.getElementById('time').value;

        if (time === '' || time === '00:00') {
            event.preventDefault();
            alert('Please set time.');
        }
    });

</script>
{% endblock %}