{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading text-cyan-700 dark:text-cyan-400">Welcome to MindTranquil</h1>
                
                <p class="mytext pl-20 pr-10 text-center text-cyan-700 dark:text-cyan-400">
                    Welcome to our personal meditation companion app, 
                    designed to nurture your inner journey with simplicity and flexibility.
                </p>

                <div class="flex justify-center items-center">
                    <img class="h-20 w-32" src="{% static 'webapp/icons/i1.png' %}" alt="meditation">
                </div>

                <p class="mytext pl-20 pr-10 text-pretty">
                     With our unguided meditation feature, you can seamlessly track your 
                     progress and delve into moments of serene reflection at your own pace.
                      Select your preferred duration and ambient background sounds to create
                       a sacred space tailored to your needs. Dive deeper into mindfulness 
                       with our integrated breathing exercises, guiding you towards harmony 
                       and presence. Embrace each session as a personal exploration, 
                       empowered by the simplicity of our app. Begin your journey 
                       to self-discovery and inner peace today.
                </p>
            </div>
        </div>
    </div>
{% endblock %}