{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% tailwind_css %}
        <style>
            body {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            </style>
        <title>MindTranquil</title>
    </head>
    <body background="{% static 'webapp/image/img1.jpg' %}">
        <div class="container flex flex-col h-screen">
            <div class="container flex flex-row">
                <div class="container flex flex-col">
                    <h1 class="heading pt-3">Meditation session</h1>
                </div>
                <div class="container flex flex-col float-right w-12 p-2">
                    <a class="" href="#">     
                        <img id="close" class="h-8" src="{% static 'webapp/icons/x.svg' %}" alt="close">
                    </a>
                </div>
            </div>
            
            <div class=" container flex flex-grow items-center">
                <div class=" container flex flex-col  items-center">
                    

                    <dialog id="start" class="h-32 w-96 rounded-md bg-darkblue dark:bg-mediumblack border border-black">
                        <h1 class="font-sans text-white text-center pt-6 text-2xl">Session is starting...</h1>
                        <form method="dialog" class="pl-40 pt-4">
                          <button id="startsession" class="btn">OK</button>
                        </form>
                    </dialog>
                    <dialog id="finish" class="h-48 w-96 rounded-md bg-darkblue dark:bg-mediumblack border border-black">
                        <h1 class="font-sans text-white text-center pt-6 text-2xl">Congratulations! You have completed the session.</h1>
                        <form method="dialog" class="pl-40 pt-4">
                          <button id="endsession" class="btn">OK</button>
                        </form>
                    </dialog>
                    
                </div>
                
            </div>
            <br>
            <br>
            <br>
            <div class=" container flex flex-col items-center">
                <a>     
                    <img id="playButton" class="h-8" src="{% static 'webapp/icons/play.svg' %}" alt="close">
                </a>
                <input type="range" min="0" max="60" value="0" id="mySlider" class="w-full pt-6 range-track" disabled>
            </div>
        </div>
        
        <script>
            start.showModal();
            var myMusic = "{{data.myMusic}}";
            let currentaudio = new Audio(myMusic);

            var [hours, minutes] = "{{data.time}}".split(":");
            console.log(hours, minutes);
            mySlider.max = (hours * 60 + minutes)*60;


            let playbutton = document.getElementById('playButton');

            document.getElementById("startsession").addEventListener("click", function() {
                currentaudio.play();
                currentaudio.loop = true;
                playbutton.src = "{% static 'webapp/icons/pause.svg' %}";
            });

            document.getElementById("endsession").addEventListener("click", function() {
                finish.close();
                window.location.href = "{% url 'webapp:meditate' %}";
            });

            document.getElementById("close").addEventListener("click", function() {
                endSession();
                window.location.href = "{% url 'webapp:meditate' %}";
            });

            
            // function to send data to record the session in backend asynchronusly
            function endSession(){
                let endtime = new Date();
                let starttime = new Date(endtime - mySlider.value*1000);
                let sessionData = {
                    start_time: starttime.toISOString(),
                    end_time: endtime.toISOString(),
                    session_type: "Meditation Session"
                };
                if(mySlider.value > 59){
                    updateSession(sessionData);
                }
                    
                console.log(sessionData);

                clearInterval(interval);
                currentaudio.pause();
            }

            function updateSession(sessionData) {
                fetch('/webapp/update_session_api/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token for security
                        'Authorization': 'Token ' + sessionStorage.getItem('token')
                    },
                    body: JSON.stringify(sessionData)
                })
                .then(response => {
                    if (response.ok) {
                        // Update UI or display success message
                        console.log('session details updated successfully');
                    }
                    else {
                        // Update UI to display error message
                        console.error('Session details update failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.startsWith(name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            playbutton.addEventListener("click", function(){
                if(currentaudio.paused){
                    currentaudio.play();
                    currentaudio.loop = true;
                    playbutton.src = "{% static 'webapp/icons/pause.svg' %}";
                } else {
                    currentaudio.pause();
                    playbutton.src = "{% static 'webapp/icons/play.svg' %}";
                }
            });

            var slider = document.getElementById("mySlider");
            const inhale = document.querySelector('.inhale');

            // Set the initial value of the slider
            slider.value = 0;

            // Calculate the increment value (1 increment every second)
            var increment = 1;

            currentaudio.addEventListener("play", function() {
                interval = setInterval(function() {
                    // Increase the slider value
                    slider.value = parseInt(slider.value) + increment;

                    // If the slider value reaches the maximum, stop the interval
                    if(slider.value == slider.max) {
                        clearInterval(interval);
                        currentaudio.pause();
                        playbutton.src = "{% static 'webapp/icons/play.svg' %}";
                        endSession();
                        finish.showModal();
                    }

                }, 1000);
            });

            // When the audio is paused, stop moving the slider
            currentaudio.addEventListener("pause", function() {
                clearInterval(interval);
            });


        </script>
    </body>
</html>