{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% tailwind_css %}
        <style>
            @keyframes grow {
            0% {
                height: 25px;
                width: 25px;
            }

            45% {
                height: 300px;
                width: 300px;
            }

            50% {
                height: 300px;
                width: 300px;
            }

            95% {
                height: 25px;
                width: 25px;
            }

            100% {
                height: 25px;
                width: 25px;
            }
            }

            .dot {
                animation-name: grow;
                animation-duration: 10s;
                position: relative;
                animation-iteration-count: infinite;

                border-color: black;
                background-color: #feda47;
                border-radius: 50%;
                display: inline-block;
            }

            @keyframes expand {
            0% {
                font-size: x-large;
            }

            50% {
                font-size: xx-large;
            }

            100% {
                font-size: x-large;
            }
            }

            .inhale{
                animation-name: expand;
                animation-duration: 10s;
                position: relative;
                animation-iteration-count: infinite;
            }

        </style>
        <title>MindTranquil</title>
    </head>
    <body class="bg-mediumblue dark:bg-darkblack">
        <div class="container flex flex-col ">
            <div class="container flex flex-row">
                <div class="container flex flex-col">
                    <h1 class="heading text-lightblack pt-3 dark:text-darkblue">Breathing session</h1>
                </div>
                <div class="container flex flex-col float-right w-12 p-2">
                    <a class="" href="#">     
                        <img id="close" class="h-8" src="{% static 'webapp/icons/x.svg' %}" alt="close">
                    </a>
                </div>
            </div>
            <div class=" container flex  items-center h-128 ">
                <div class=" container flex flex-col  items-center">
                    <span class="dot dark:bg-cyan-900"></span>

                    <dialog id="start" class="h-32 w-96 rounded-md bg-darkblue dark:bg-mediumblack border border-black">
                        <h1 class="font-sans text-white text-center pt-6 text-2xl">Session is starting...</h1>
                        <form method="dialog" class="pl-40 pt-4">
                          <button id="startsession" class="btn">OK</button>
                        </form>
                    </dialog>
                    <dialog id="finish" class="h-48 w-96 rounded-md bg-darkblue dark:bg-mediumblack border border-black">
                        <h1 class="font-sans text-white text-center pt-6 text-2xl">Congratulations! You have completed the session.</h1>
                        <form method="dialog" class="pl-40 pt-4">
                          <button id="endsession" class="btn">OK</button>
                        </form>
                    </dialog>
                    
                </div>
                
            </div>
            <div class=" container flex flex-col  items-center">
                <h1 class="inhale mytext pl-9 text-yellow-800 dark:text-cyan-200">Inhale</h1>
                <br>
            </div>
            <div class=" container flex flex-col  items-center">
                <input type="range" min="0" max="60" value="0" id="mySlider" class="w-96 pt-6 range-track" disabled>
            </div>
        </div>
        
        <script>

            var preferredMode = "{{ user.preferred_mode }}";
            if (preferredMode === 'dark'){
                document.documentElement.classList.add('dark');
            }

            start.showModal();
            var myMusic = "{{data.myMusic}}";
            let currentaudio = new Audio(myMusic);

            var [hours, minutes] = "{{data.time}}".split(":");
            mySlider.max = (hours * 60 + minutes)*60;

            const dot = document.querySelector('.dot');
            const expand = document.querySelector('.inhale');
            dot.style.animationPlayState = 'paused';
            expand.style.animationPlayState = 'paused';

            document.getElementById("startsession").addEventListener("click", function() {
                dot.style.animationPlayState = 'running';
                expand.style.animationPlayState = 'running';
                currentaudio.play();
                currentaudio.loop = true;
            });

            document.getElementById("endsession").addEventListener("click", function() {
                finish.close();
                window.location.href = "{% url 'webapp:breathe' %}";
            });

            document.getElementById("close").addEventListener("click", function() {
                endSession();
                window.location.href = "{% url 'webapp:breathe' %}";
            });
            

            // function to send data to record the session in backend asynchronusly
            function endSession(){
                let endtime = new Date();
                let starttime = new Date(endtime - mySlider.value*1000);
                let sessionData = {
                    start_time: starttime.toISOString(),
                    end_time: endtime.toISOString(),
                    session_type: "Breathing Session"
                };
                
                if(mySlider.value > 59){
                    updateSession(sessionData);
                }
                    
                console.log(sessionData);

                clearInterval(interval);
                currentaudio.pause();
            }

            function updateSession(sessionData) {
                fetch('/webapp/update_session_api/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token for security
                        'Authorization': 'Token ' + sessionStorage.getItem('token')
                    },
                    body: JSON.stringify(sessionData)
                })
                .then(response => {
                    if (response.ok) {
                        // Update UI or display success message
                        console.log('session details updated successfully');
                    }
                    else {
                        // Update UI to display error message
                        console.error('Session details update failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.startsWith(name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var slider = document.getElementById("mySlider");
            const inhale = document.querySelector('.inhale');

            // Set the initial value of the slider
            slider.value = 0;

            // Calculate the increment value (1 increment every second)
            var increment = 1;

            currentaudio.addEventListener("play", function() {
                interval = setInterval(function() {
                    // Increase the slider value
                    slider.value = parseInt(slider.value) + increment;

                    // If the slider value reaches the maximum, stop the interval
                    if(slider.value == slider.max) {
                        clearInterval(interval);
                        dot.style.animationPlayState = 'paused';
                        expand.style.animationPlayState = 'paused';
                        endSession();
                        currentaudio.pause();
                        finish.showModal();
                    }

                    if(slider.value%10 === 0){
                        inhale.textContent = "Inhale";
                    } else if(slider.value%5 === 0){
                        inhale.textContent = "Exhale";
                    }

                }, 1000);
            });



        </script>
    </body>
</html>