{% load static %}
<script src="//unpkg.com/alpinejs" defer></script>
<nav 
class="sticky border shadow h-lvh" 
x-data="{open:false,menu:false, lokasi:false}">
    <div class="max-w-20 px-3 bg-white">
        <br>
        <div class="sidemenu-button">
            <div class="self-center">
                <a class="" href="#">     
                    <img class="h-12" src="{% static 'webapp/icons/medi-dark.svg' %}" alt="dark">
                </a>
                <!--
                <a class="" href="#">     
                    <img class="h-12" src="{% static 'webapp/icons/medi-light.svg' %}" alt="light">
                </a> 
            -->
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center">
                <a class="" href="{% url 'webapp:breathe' %}">     
                    <img class="h-12" src="{% static 'webapp/icons/breathe-dark.svg' %}" alt="dark">
                </a>
                <!--
                <a class="" href="#">     
                    <img class="h-12" src="{% static 'webapp/icons/breathe-light.svg' %}" alt="light">
                </a> 
            -->
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center pl-2">
                <a class="" href="#">     
                    <img class="h-8" src="{% static 'webapp/icons/trophy-dark.svg' %}" alt="dark">
                </a>
                <!--
                <a class="" href="#">     
                    <img class="h-8" src="{% static 'webapp/icons/trophy-light.svg' %}" alt="light">
                </a> 
            -->
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center pl-2">
            <a class="" href="#">     
                <img class="h-8" src="{% static 'webapp/icons/moon.svg' %}" alt="dark">
            </a>
            <!--
            <a class="" href="#">     
                <img class="h-8" src="{% static 'webapp/icons/sun.svg' %}" alt="light">
            </a> 
        -->
            </div>
        </div>

    </div>
</nav>