{% load static %}
<script src="//unpkg.com/alpinejs" defer></script>

<nav 
class="sticky h-lvh bg-white dark:bg-ablack" 
x-data="{open:false,menu:false, lokasi:false}">
    <div class="relative z-10 max-w-20 px-3">

        <br>

        <div class="sidemenu-button">
            <div class="self-center">
                <a class="" href="{% url 'webapp:meditate' %}">     
                    <img id="medi" class="h-12" src="{% static 'webapp/icons/medi-dark.svg' %}" alt="dark">
                </a>
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center">
                <a class="" href="{% url 'webapp:breathe' %}">     
                    <img id="breathe" class="h-12" src="{% static 'webapp/icons/breathe-dark.svg' %}" alt="dark">
                </a>
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center pl-2">
                <a class="" href="{% url 'webapp:stats' %}">     
                    <img id="trophy" class="h-8" src="{% static 'webapp/icons/trophy-dark.svg' %}" alt="dark">
                </a>
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center pl-2">
            <a id="toggle" href="{% url 'webmap:change_mode' %}">     
                <img id="mode" class="h-8" src="{% static 'webapp/icons/moon.svg' %}" alt="dark">
            </a>
            </div>
        </div>

    </div>
</nav>
<script>
    const togglebtn = document.querySelector('#toggle');
    var preferredMode = "{{ user.preferred_mode }}";
    if (preferredMode === 'dark') {
        document.documentElement.classList.add('dark');
        localStorage.theme = 'dark';
    } else{
        document.documentElement.classList.remove('dark');
        localStorage.theme = 'light';
    }

    document.getElementById('medi').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/medi-light.svg' %}" : "{% static 'webapp/icons/medi-dark.svg' %}";
    document.getElementById('breathe').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/breathe-light.svg' %}" : "{% static 'webapp/icons/breathe-dark.svg' %}";
    document.getElementById('trophy').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/trophy-light.svg' %}" : "{% static 'webapp/icons/trophy-dark.svg' %}";
    document.getElementById('mode').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/sun.svg' %}" : "{% static 'webapp/icons/moon.svg' %}";


    togglebtn.addEventListener('click', () => {
        
        if (localStorage.theme === 'light') {
            localStorage.theme = 'dark';
        } else {
            localStorage.theme = 'light';
        }

        document.documentElement.classList.toggle('dark');
        
        document.getElementById('medi').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/medi-light.svg' %}" : "{% static 'webapp/icons/medi-dark.svg' %}";
        document.getElementById('breathe').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/breathe-light.svg' %}" : "{% static 'webapp/icons/breathe-dark.svg' %}";
        document.getElementById('trophy').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/trophy-light.svg' %}" : "{% static 'webapp/icons/trophy-dark.svg' %}";
        document.getElementById('mode').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/sun.svg' %}" : "{% static 'webapp/icons/moon.svg' %}";

    });
</script>