{% load static %}
<script src="//unpkg.com/alpinejs" defer></script>

<nav 
class="sticky h-lvh bg-white dark:bg-ablack" 
x-data="{open:false,menu:false, lokasi:false}">
    <div class="relative z-10 max-w-20 px-3">

        <br>

        <div class="sidemenu-button">
            <div class="self-center">
                <a class="" href="{% url 'webapp:meditate' %}">     
                    <img id="medi" class="h-12" src="{% static 'webapp/icons/medi-dark.svg' %}" alt="dark">
                </a>
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center">
                <a class="" href="{% url 'webapp:breathe' %}">     
                    <img id="breathe" class="h-12" src="{% static 'webapp/icons/breathe-dark.svg' %}" alt="dark">
                </a>
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center pl-2">
                <a class="" href="{% url 'webapp:stats' %}">     
                    <img id="trophy" class="h-8" src="{% static 'webapp/icons/trophy-dark.svg' %}" alt="dark">
                </a>
            </div>
        </div>

        <br>

        <div class="sidemenu-button">
            <div class="self-center pl-2">
            <a id="toggle" href="#">     
                <img id="mode" class="h-8" src="{% static 'webapp/icons/moon.svg' %}" alt="dark">
            </a>
            </div>
        </div>

    </div>
</nav>

<script>

    function updatePreferredMode(mode) {
        fetch('/webapp/update_mode_api/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token for security
                'Authorization': 'Token ' + sessionStorage.getItem('token')
            },
            body: JSON.stringify({ preferred_mode: mode })
        })
        .then(response => {
            if (response.ok) {
                // Update UI or display success message
                console.log('Preferred mode updated successfully');
            } else {
                // Handle error
                console.error('Failed to update preferred mode');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const togglebtn = document.querySelector('#toggle');
    var preferredMode = "{{ user.preferred_mode }}";
    if (preferredMode === 'dark' || (!(preferredMode === 'light') && localStorage.theme === 'dark')) {
        document.documentElement.classList.add('dark');
        localStorage.theme = 'dark';

        document.getElementById('medi').src = "{% static 'webapp/icons/medi-light.svg' %}";
        document.getElementById('breathe').src = "{% static 'webapp/icons/breathe-light.svg' %}";
        document.getElementById('trophy').src = "{% static 'webapp/icons/trophy-light.svg' %}";
        document.getElementById('mode').src = "{% static 'webapp/icons/sun.svg' %}";
    } else{
        localStorage.theme = 'light';
    }

    togglebtn.addEventListener('click', () => {
        
        if (localStorage.theme === 'light') {
            localStorage.theme = 'dark';
            updatePreferredMode('dark');
        } else {
            localStorage.theme = 'light';
            updatePreferredMode('light');
        }

        document.documentElement.classList.toggle('dark');
        
        document.getElementById('medi').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/medi-light.svg' %}" : "{% static 'webapp/icons/medi-dark.svg' %}";
        document.getElementById('breathe').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/breathe-light.svg' %}" : "{% static 'webapp/icons/breathe-dark.svg' %}";
        document.getElementById('trophy').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/trophy-light.svg' %}" : "{% static 'webapp/icons/trophy-dark.svg' %}";
        document.getElementById('mode').src = document.documentElement.classList.contains('dark') ? "{% static 'webapp/icons/sun.svg' %}" : "{% static 'webapp/icons/moon.svg' %}";

    });
</script>