{% extends "webapp/base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">
    
</head>
<body>
    <div class="flex flex-col items-center">

  <div class="contianer flex flex-wrap pl-20">

    <div class="streak w-36 dark:bg-lightblack">

        <div class="bground dark:bg-darkgrey flex flex-col">
          <div class="">
            <h1 class="text-black font-sans text-xs">TOTAL SESSIONS</h1>
          </div>
          <div class="">
            <h1 class="stattext text-5xl pt-2">{{stats.total_sessions}}</h1> 
          </div>
        </div>

        <div class="bground dark:bg-darkgrey flex flex-col">
          <div class="">
            <h1 class="text-black font-sans text-xs">TOTAL HRS</h1>
          </div>
          <div class="pt-5">
            <h1 id="total_time" class="stattext">{{totaltime}}</h1> 
          </div>
        </div>

        <div class="bground1 dark:bg-darkgrey flex flex-col">
          <div class="">
            <h1 class="text-black font-sans text-xs">CURRENT STREAK</h1>
          </div>
          <div class="pb-3">
            <h1 class="stattext text-5xl">{{stats.current_streak}}</h1> 
          </div>
          <div class="">
            <h1 class="text-black font-sans text-xs">BEST STREAK</h1>
          </div>
          <div class="pb-3">
            <h1 class="stattext text-5xl">{{stats.best_streak}}</h1> 
          </div>
        </div>
    </div>

    <div class="streak flex flex-col w-64 dark:bg-lightblack ">
        <div class="bground2 dark:bg-lightgrey overflow-scroll flex flex-col m-2">
          <!-- Data will be filled at runtime-->
        </div>
    </div>

    <div class="calendar dark:bg-lightblack">
      <div class="calendar-header dark:bg-darkgrey">
        
        <div class="year-picker" id="year-picker">
          <span class="year-change" id="pre-month">
            <pre><</pre>
          </span>

          <span class="month-picker" id="month-picker"> May </span>
          <span class ="" id="year">2020 </span>

          <span class="year-change" id="next-month">
            <pre>></pre>
          </span>
        </div>
      </div>

      <div class="calendar-body">
        <div class="calendar-week-days">
          <div class="dark:text-lightgrey">Sun</div>
          <div class="dark:text-lightgrey">Mon</div>
          <div class="dark:text-lightgrey">Tue</div>
          <div class="dark:text-lightgrey">Wed</div>
          <div class="dark:text-lightgrey">Thu</div>
          <div class="dark:text-lightgrey">Fri</div>
          <div class="dark:text-lightgrey">Sat</div>
        </div>
        <div class="calendar-days dark:text-white">
        </div>
      </div>
      <div class="calendar-footer">
      </div>
      <div class="date-time-formate">
        
      </div>
      <div class="month-list"></div>
    </div>

  </div>

  </div>

  <script>
    let [hours, minutes] = "{{stats.total_time}}".split(":");
    let totaltime = `${hours}Hr${minutes}m`;
    document.getElementById("total_time").innerHTML = totaltime;
    
  </script>
  
  
</body>

{% endblock %}