{% load static %}


<div class="flex flex-row">
  <h1 class="mytext">DURATION</h1>

<div class="flex mt-2 p-1 w-48 pl-2 bg-white border-2 border-slate-300 rounded-lg">
  <div class="flex">
    <select name="hours" class="bg-transparent text-xl appearance-none outline-none rounded-md border-2 border-slate-300">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <span class="text-xl mr-3"></span>
    <select name="minutes" class="bg-transparent text-xl appearance-none outline-none rounded-md mr-4 border-2 border-slate-300">
      <option value="00">00</option>
      <option value="05">05</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
      <option value="30">30</option>
      <option value="35">35</option>
      <option value="40">40</option>
      <option value="45">45</option>
      <option value="50">50</option>
      <option value="55">55</option>
    </select>
  </div>
</div>

</div>